<li>
	{{name}}

	{{#if devour}}<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		Devour!
	</button>{{/if}}

	<button class="delete-burger" data-id="{{this.id}}">Delete!</button>
</li>
