  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>
<h1>My Trips</h1>

{{#each trips as |trip|}}
<div class="card tripCard" style="width: 18rem;">
  <div class="card-header">
    {{trip.trip_name}}
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Attendees: {{trip.attendees}}</li>
    <li class="list-group-item">Trip Information: {{trip.trip_info}}</li> 
  </ul>
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
      <button type="submit" class="btn btn-primary viewTripBtn" data-id={{trip.id}}>View Trip</button>
    </div>
</div>
{{/each}}



<div class="btn-group" role="group" aria-label="Basic mixed styles example">
  <button type="submit" class="btn btn-success" id="newTripBtn" name="newTripBtn">Create a New Trip!</button>
</div>


<script type="text/javascript" src="/js/members.js"></script>