<form id="create-form" action="/api/trip" method="POST">
	<div class="mb-3">
		<label for="tripName" class="form-label">Trip Name</label>
		<textarea class="form-control" id="tripName" rows="3"></textarea>
	</div>
	<div class="mb-3">
		<label for="Attendees" class="form-label">Attendees</label>
		<textarea class="form-control" id="Attendees" rows="3"></textarea>
	</div>
	<div class="mb-3">
		<label for="tripInfo" class="form-label">Trip Information</label>
		<textarea class="form-control" id="tripInfo" rows="3"></textarea>
	</div>
	 <div class="btn-group" role="group" aria-label="Basic mixed styles example">
    <button type="submit" class="btn btn-info">Create a Trip</button>
  </div>
</form>