<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<!-- Navbar-->
<header class="header">
    <nav class="navbar navbar-expand-lg fixed-top py-3">
        <div class="container nav-item"><h3 class="nav-link">Are We There Yet?</h3>
            <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>
            
            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<container class="row newTripForm">
	<form id="create-form" action="/api/trip" method="POST">
		<h2>Start Your Adventure</h2>
		<div class="form-group">
			<label for="trip_name" class="form-label">Trip Name:</label>
			<input type="text" id="tripNameBox" name="trip_name">
		</div>
		<div class="mb-3">
			<div class="mb-3">
				<label for="Attendees" class="form-label">Attendees:</label>
				<textarea class="form-control" id="attendeesBox" name="attendeesBox" rows="3"></textarea>
			</div>
			<div class="mb-3">
				<label for="tripInfo" class="form-label">Trip Information:</label>
				<textarea class="form-control" id="tripInfoBox" rows="3" name="tripInfoBox"></textarea>
			</div>
			
			<button class="btn btn-info" name="newTripBtn">Create Trip</button>
		</div>
	</form>
</container>
<div>


<div class="mapouter">
	<div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas"
			src = "https://maps.google.com/maps?q=&t=&z=13&ie=UTF8&iwloc=&output=embed"
			frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><br>
		<a href="https://www.embedgooglemap.net">google maps for web site</a>
	</div>
</div>

<br>

<div>
    <button type="submit" class="btn btn-primary allTripBtn" id="backTripBtn">Back to All Trips</button>
</div>

<script type="text/javascript" src="/js/members.js"></script>