
<div class="card" style="width: 18rem;">
    <div class="card-header">
        {{this.trip_name}}
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Attendees: {{this.attendees}}</li>
        <li class="list-group-item">Trip Information: {{this.trip_info}}</li>
    </ul>
</div>

<div class="btn-group" role="group" aria-label="Basic mixed styles example">
  <button type="submit" class="btn btn-danger" id="deleteBtn" name="deleteBtn">Delete Trip</button>
</div>