<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Navbar-->
<header class="header">
    <nav class="navbar navbar-expand-lg fixed-top py-3">
        <div class="container"><a href="/" class="navbar-brand">Are We There Yet?</a>
            <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>
            
            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<body class="background2">
<div class="card tripPageCard">
    <div class="card-header">
        <h1>{{trip_name}}</h1>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Attendees: {{attendees}}</li>
        <li class="list-group-item">Trip Information: {{trip_info}}</li>
    </ul>
</div>

<container class="row1">
    <div class="col-6">
        <button type="submit" class="btn btn-primary allTripBtn" id="back2TripsBtn">Back to All Trips</button>
    </div>

    <br><br>

    <div class="row2">
        <button class="btn btn-danger deleteBtn" data-id={{id}}>Delete Trip</button>
    </div>
</container>
</body>

<script type="text/javascript" src="/js/members.js"></script>
