<div class="jumbotron jumbotron-fluid">
  <h1>Welcome to the Ultimate Burger List!</h1>
  <img class="burgerimg" src="../assets/image/avocado_burger.jpeg" alt="avocado burger">
  <h2>Burgers that you would like to eat and have devoured!</h2>
</div>  
<br>


 <div class="row allBurgers">
   <div class="col-6 availableBurgers">
    <h2>Yet to be consumed</h2>
      {{#each burgers}}
      {{#unless devour}}
      {{> burgers/burger-block devour=true}}
      {{/unless}}
      {{/each}}
  </div>

  <div class="col-6 devouredBurgers">
    <h2>Devoured Burgers!</h2>
      {{#each burgers}}
      {{#if devour}}
      {{> burgers/burger-block devour=false}}
      {{/if}}
      {{/each}}
  </div>  
</div> 




<div class="row addBurger">
  <h2>Add a Burger</h2>
  <form id="create-form">

    <div class="form-group">
      <label for="ca">Burger Name:</label>
      <input type="text" id="ca" name="name">
    </div>

    <button class="btn btn-primary btn-lg" type="submit">Add Burger</button>

  </form>
</div>