form.signup,
form.login {
  margin-top: 5%;
}

h1 {
  text-align: center;
}

/*----MYTRIPS PAGE----*/
.myTripsContainer {
  background-image: url("./sunset_road.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.tripCard {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom:5%;
  position: static;
}

/* #newTripBtnDiv {

} */

#newTripBtn {
  width: 16%;
  margin-left: 42%;
  margin-right: 42%;
}

/*----NEW TRIP PAGE----*/
.newTripForm {
  background-image: url("./sunset-road2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#create-form {
  width: 35%;
  margin: 5%;
  padding: 3%;
  position: static;
  color: black;
  font-size: 30px;
  background-color: white;
  opacity: 90%;
  border-radius: 10%;
}

#tripNameBox {
  width: 90%;
}

#backTripBtn {
  margin: 3%;
  width: 20%;
}


/*----TRIP PAGE----*/
.tripPageCard {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 5%;
}

#back2TripsBtn {
  width: 50%;
  margin-left: 5%;
  margin-top: 5%;
}

.deleteBtn {
  width: 25%;
  margin-left: 70%;
  margin-top: 5%;
  text-align: center;
}