.jumbotron {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  background: #fbd106;
  color: blue;
  font-weight: 500;
  text-align: center;
  font-family: 'Notable', sans-serif;
}



.burgerimg {
  width: 300px;
}

li {
  padding: 5px;
  margin: 5px;
  background: rgba(160,198,51,255);
  font-family: 'Red Rose', cursive;
  font-size: 28px;
}

.label {
  font-weight: bold;
  font-family: 'Red Rose', cursive;
}

.form-group {
  padding: 10px;
}

.allBurgers {
  width: auto;
  background-color:tomato;
  font-family: 'Red Rose', cursive;
  color: rgb(114, 66, 34);
  font-size: 32px;
}

.availableBurgers {
  text-align: center;
  font-family: 'Red Rose', cursive;
}

.devouredBurgers {
  text-align: center;
  font-family: 'Red Rose', cursive;
}

.addBurger {
  text-align: center;
  background-color:tomato;
  width: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: 'Red Rose', cursive;
  color: rgb(114, 66, 34);
}